<div class="main">
        <div class="quote">
                <img src="/assets/images/main.png" width="100%">
                <blockquote cite="Nelson Mandela"><i>It always seems impossible until it&apos;s done.</i></blockquote>
        </div>

        <div class="content">
                The Seo Family landed at the Toronto Pearson International Airport in 2017, and they found that Canada
                is one of the best places to raise a family. Essentially, living in Canada provides the perfect backdrop
                to teach children how to live harmoniously with people from different backgrounds. They are fortunate
                enough to be new Canadian citizens and are grateful for every experience they have ever had as new
                immigrants. They would like to say the biggest thank you to parents, family, friends, neighbours,
                teachers, and everyone around them.
        </div>
        <br />
        
        <div class="wrapper">
                We visited:
                <center>
                        <img src="/assets/images/ab.png" width="250" height="351">
                        <img src="/assets/images/mb.png" width="250" height="351">
                        <img src="/assets/images/on.png" width="250" height="351">
                        <img src="/assets/images/qc.png" width="250" height="351">
                        <img src="/assets/images/sk.png" width="250" height="351"> <br />
                        <img src="/assets/images/ca.png" width="250" height="351">
                </center>
        </div>
</div>